header {
    position: fixed;
    background-color: #CF0119;
    width: 100%;
    height: 50px;
    top: 30px;
    padding: 5px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
}

.header__column {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.glowpick {
    font-size: 22px; 
}

.header__column i:first-child {
    margin-right: 10px;
}

.header__column i {
    font-size: 25px;
}