.nav {
    background-color: white;
    padding: 10px 30px 10px 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e2e2e2;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
}

.nav__list i {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.nav__list-font {
    font-size: 12px;
}